.breeds-title {
    text-align: center;
}
.breeds-wrap {
    display: flex;
}
.breeds-wrap-left, .breeds-wrap-right {
    padding: 0 30px;
    width: 20%;
    min-width: 135px;
}
.breeds-wrap-right {
    width: 70%;
    position: relative;
}
.breeds__links {
    height: 500px;
    overflow: hidden scroll;
}
